<%- include('../partials/header', {title: "All Campgrounds"}) %>

    <div id="cluster-map"></div>

    <h1>All Campgrounds</h1>


        <% campgrounds.forEach((camp) => { %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <% if (camp.images[0]) { %>
                            <img crossorigin="anonymous" src="<%= camp.images[0].url %>" alt="" class="img-fluid">                      
                        <% } else { %>
                            <img crossorigin="anonymous" src="https://source.unsplash.com/collection/20431456" alt="" class="img-fluid">
                        <% } %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= camp.title %></h5>
                            <p class="card-text"><%= camp.description %></p>
                            <p class="card-text">
                                <small class="text-muted"><%= camp.location %></small>
                            </p>
                            <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>

<script>
    const camps = {features: <%- JSON.stringify(campgrounds) %>}
</script>

<script src="/js/showClusterMap.js"></script>

<%- include('../partials/footer') %>

